[Unit]
Description=Servicio web de carburantes
ConditionPathExists=/mnt/usb/carburantes/current/bin/service

[Service]
Type=simple
User=carburantes
WorkingDirectory=/mnt/usb/carburantes
ExecStart=/mnt/usb/carburantes/current/bin/service
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
