[Unit]
Description=Run Precios Carburantes 3 times a day

[Timer]
# Runs at 6:05, 13:05, and 21:05 every day
OnCalendar=*-*-* 06,13,21:05:00
# Ensures it runs if the Pi was powered off during the scheduled time
Persistent=true
Unit=downloader.service

[Install]
WantedBy=timers.target
